In [1]:
# Libraries
import pandas as pd

In [2]:
PMOS = pd.read_csv('patient.csv')

In [3]:
PMOS

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,age,education,family,occupation,income,nationality,nursing field,nursing days,safety evaluation,comments
0,4,4,5,3,4,5,5,5,3,5,...,30,8,3,1,2,2,1,5.0,5,oxi
1,5,5,5,2,5,4,5,4,2,5,...,72,4,3,3,1,1,2,7.0,3,Περιστέρια στον θάλαμο
2,4,5,4,2,5,5,5,4,2,5,...,58,3,3,1,1,1,2,6.0,5,oxi
3,5,4,5,2,5,4,5,5,5,4,...,71,1,3,3,1,1,2,7.0,5,Peristeria ston thalamo
4,5,4,5,2,5,4,5,5,5,4,...,72,1,3,3,1,1,2,7.0,5,peristeria ston thalamo
5,5,4,5,3,4,5,5,5,4,5,...,58,3,1,3,1,1,1,7.0,3,oxi
6,4,2,5,3,4,5,5,2,4,5,...,45,4,3,3,2,2,1,NaN,5,oxi
7,4,5,5,4,5,5,5,4,5,4,...,60,3,2,1,2,1,2,4.0,5,oxi
8,4,5,4,2,4,4,3,3,2,2,...,60,1,1,2,1,1,2,5.0,5,oxi

In [4]:
print(PMOS.index)

RangeIndex(start=0, stop=9, step=1)